// datatable responsive
.m-datatable {
  ul.dtr-details {
    display: table;
    margin:0;

    > li {
      display: table-row;
      margin:0;
      border-bottom: 1px solid $datatable_responsive_border_color !important;

      > .dtr-title, > .dtr-data {
        display: table-cell;
        padding: .3rem .6rem;
        vertical-align: top;
      }
    }
  }
}
