/* stylelint-disable */
.m-datatable {
  thead {
    tr {
      th {
        position: relative;


      }
    }
  }

  .sorting,
  .sorting_asc,
  .sorting_desc,
  .sorting_asc_disabled,
  .sorting_desc_disabled {

    //position:relative;

    cursor: pointer;
    background-image: none;

    @if $sorting_arrow_size {
      padding: $sorting-arrow-cell-padding !important;

      &::before, &::after {
        position: absolute;
        right:.4em !important;
        display: block;
        width: 0;
        height: 0;
        content: '' !important;
        border-color: transparent;
        border-width: $sorting_arrow_size;
      }

      &::before {
        border-style: none solid solid;
        border-bottom-color: $datatable_sorting_arrows_color;
        bottom: calc(#{$sorting-arrow-bottom } + 1px + #{$sorting_arrow_size}) !important;
      }
      &::after {
        border-style: solid solid none;
        border-top-color: $datatable_sorting_arrows_color;
        bottom: calc(#{$sorting-arrow-bottom} - #{$sorting_arrow_size}) !important;
      }

    } @else {
      padding: $sorting-arrow-cell-base-padding;
    }
  }

  .sorting_asc,
  .sorting_desc,
  .sorting:hover {
    @if $datatable_active_sorting_color {
      color: $datatable_active_sorting_color !important;
    }
    @if $datatable_active_sorting_bg {
      background: $datatable_active_sorting_bg !important;
    }
    background-clip: padding-box !important;

    @if $datatable_active_sorting_border-bottom {
      border-bottom: $datatable_active_sorting_border-bottom;
    }

    @if ($sorting_arrow_size and $datatable_active_sorting_color) {

      &:before {
        border-bottom-color: $datatable_active_sorting_color;
      }

      &:after {
        border-top-color: $datatable_active_sorting_color;
      }
    }
  }
}
/* stylelint-enable */
