.select2-results__option--highlighted {
	.text-muted {
		color: $bianco!important;
	}
}

.select2-selection__rendered {
	position: relative;
	padding-right: 2rem !important;
	top:4px;

	.select2-selection__clear {
		position: absolute !important;
		margin: 0;
		right: 3px;
	}
}

.select2-container--bootstrap {
/*
	.select2-selection--single {
		line-height: 1;
	}
*/

	.select2-selection--multiple {
		.select2-search--inline {
			.select2-search__field {
				height: auto;
				margin-top: 5px;
			}
		}
		.select2-selection__choice {
			margin-top:5px;
		}
	}
}

.select2-selection__placeholder, .select2-results__message {
	font-size:90%;
	margin-top:5px;
}

// bug quando il dropdown è aperto verso l'alto
.select2-container--above.select2-container--open {
  .select2-selection__placeholder, .select2-selection__rendered {
  	opacity:0;
	}
}

.select2-results__message {
	color: $s2bs4-message-color;
	font-style: italic;
}



/*
DA gestire direttamente nel progetto, se necessario
//pulsante aggiunta voci
$s2bs4-group-button-size: 1.5rem;
.select2-group {

	position: relative;
	padding-right:1.5rem;

	.select2-container--bootstrap .select2-selection {
		border-top-right-radius: 0;
	}

	.select2-button {
		position: absolute;
		width:$s2bs4-group-button-size;
		height: $s2bs4-group-button-size;
		border-radius: 0 50% 50% 0;
		text-align: center;
		line-height: $s2bs4-group-button-size;
		margin:0;
		padding:0;
		border:0;
		top:0;
		right: 0;
	}
}
*/
