*~
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

/TODO
TODO.md
todo.md
/adobe-cc
/archiviati
/**/test/
/**/demo/
.codekit-cache/
/**/*.sketch
/**/*.ai
/**/*.psd
*.weblock
TODO.md

config.codekit3
*.code-workspace
.editorconfig
favicon.ico
.gitattributes
.gitignore
