$columns-rule: 1px dotted #ccc !default;
$column-gap: 2rem !default;
.colonne {
  column-rule: $columns-rule;
  column-gap: $column-gap;
  column-width: auto;
  orphans: 1;
  widows: 1;
}


// responsive columns
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @for $i from 2 through 5 {
      .colonne#{$infix}-#{$i}   {
        column-count: #{$i} !important;
      }
    }
  }
}
