$mGallery-sizes: (
  xs: (
    container-width: 100%,
    container-height: 600px,
    on-img-width: 100%,
    on-img-height:400px,
  )
)!default;

$mGallery-img-bg-color: #000!default;
$mGallery-next-img-opacity: .85!default;
$mGallery-next-img-scale: 80%!default;
$mGallery-next-img-filter: grayscale(40%)!default;

.mGallery {

  position: relative;
  overflow: hidden;
  z-index:0;
  width: map-deep-get($mGallery-sizes, xs, container-width);
  height: map-deep-get($mGallery-sizes, xs, container-height);


  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content:flex-start;
  align-items:center;
  align-content:center;

  text-align: center;

  > div {
    display: inline-block;
    background-color: $mGallery-img-bg-color;
    flex:0;
    width:$mGallery-next-img-scale;
    position: absolute;
    z-index:1;

    // altezza della porzione di immagine sopra e sotto quella attiva
    $portion-height: (map-deep-get($mGallery-sizes, xs, container-height) - map-deep-get($mGallery-sizes, xs, on-img-height)) / 2;

    &:not(.mgallery-on) {
      top: 0;
      transform: translateY( calc(-100% + #{$portion-height}) );

      $mask: linear-gradient(to top, #000, transparent $portion-height);
      @supports (-webkit-mask-image: $mask) {
        -webkit-mask-image: $mask;
      }
      @supports (-o-mask-image: $mask) {
        -o-mask-image: $mask;
      }
      @supports (mask-image: $mask) {
        mask-image: $mask;
      }
    }

    &.mgallery-on ~ div {
      top: map-deep-get($mGallery-sizes, xs, container-height) - $portion-height;
      transform: none;

      $mask: linear-gradient(to bottom, #000, transparent $portion-height);

      @supports (-webkit-mask-image: $mask) {
        -webkit-mask-image: $mask;
      }
      @supports (-o-mask-image: $mask) {
        -o-mask-image: $mask;
      }
      @supports (mask-image: $mask) {
        mask-image: $mask;
      }
    }

    &.mgallery-on + div {
      z-index:2;
    }

    &.mgallery-on {
      width:100%;
      z-index:3;

      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      box-shadow: 4px 4px 4px rgba(0,0,0, .7), -4px -4px 4px rgba(0,0,0, .7);

      img {
        opacity:1;
        width: map-deep-get($mGallery-sizes, xs, on-img-width);
        height: map-deep-get($mGallery-sizes, xs, on-img-height);
        filter:none;
      }
    }
  }

  img {
    /* NB: l'immagine deve avere dimensioni definite */
    object-fit: cover;
    object-position: center;
    display: inline-block;
    opacity:$mGallery-next-img-opacity;
    filter:$mGallery-next-img-filter;
    cursor: pointer;
  }
}
