$m-sorting-bg-color: map-get($theme-colors, primary) !default;
$m-sorting-border-color: map-get($theme-colors, primary) !default;
$m-sorting-color: color-yiq(map-get($theme-colors, primary)) !default;

$m-sorting-dragover-color: color-yiq(map-get($theme-colors, secondary)) !default;
$m-sorting-dragover-bg-color: map-get($theme-colors, secondary) !default;
$m-sorting-dragover-border-color: map-get($theme-colors, secondary) !default;

$m-sorting-insertion-border: 3px dashed #c00 !default;

// elemento a cui si applicherà il sorting
.m-sorting-item {
  padding: 2px 0;
  user-select: none;
  transition: transform .3s linear;

  &.m-sorting {

    // elemento in fase di trascinamento
    &-sorting {
      color: $m-sorting-color;
      cursor: move;
      background-color: $m-sorting-bg-color;
      border-color: $m-sorting-border-color;

      &:not(tr) {
        transform: scale(.9);
      }
    }

    &-dragover {
      color: $m-sorting-dragover-color;
      background-color: $m-sorting-dragover-bg-color;
      border-color: $m-sorting-dragover-border-color;

      &:not(tr) {
        position: relative;
        &::before {
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          width: 100%;
          content: '';

          border: $m-sorting-insertion-border;
        }
      }
    }
  }

} // end item

/* stylelint-disable declaration-no-important, max-nesting-depth */
tr {

  &.m-sorting-item {
    position: relative;

    &.m-sorting {
      &-sorting {
        td {
          color: $m-sorting-color !important;
          background-color: $m-sorting-bg-color !important;
          a {
            color: $m-sorting-color !important;
          }
          svg {
            fill: $m-sorting-color !important;
          }
        }
      }

      &-dragover {
        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 1px;
          content: '';
          border-bottom: $m-sorting-insertion-border;
        }
        td {
          color: $m-sorting-dragover-color !important;
          background-color: $m-sorting-dragover-bg-color !important;
        }
      }
    }
  }
}
/* stylelint-enable declaration-no-important, max-nesting-depth */
