@use 'sass:map';
@use '../scss-utilities/m-utilities-variables' as mVariables;

$overlay-bg: rgba(0, 0, 0, .8) !default;
$overlay-color: #fff !default; // colore dello spinner bs4

.page-overlay, .div-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: map.get(mVariables.$m-utilities-z-index, overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  color: $overlay-color;
  background-color: $overlay-bg;

}
.page-overlay {
  position: fixed;
}

.div-overlay {
  position: absolute;
}

