$overlay-bg: rgba(0,0,0,.8)!default;
.page_overlay, .div_overlay {
	background-color: $overlay-bg;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    z-index: 999999;
}
.page_overlay {
	position:fixed;
}

.div_overlay {
	position:absolute;
}
