// https://fontsource.org/docs/sass/mixins
// https://fontsource.org/docs/variable-fonts

@use 'sass:map';

@mixin fontsource-font-face-builder(
  $font-family,
  $variable-font-family,
  $font-id,
  $font-dir,
  $font-display,
  $non-variable-weights,
  $variable-weights,
  $styles,
  $subset,
  $variable-type,
  $unicodeMap
){


  // ==================================
  // NON-VARIABLE FONTS (.woff only)
  // ==================================
  // file name sample: #{$font-id}-latin-400-normal.woff

  @each $w in $non-variable-weights {
    @each $s in $styles {
      @font-face {
        font-family: '#{$font-family}';
        font-style: $s;
        font-weight: $w;
        src: url('#{$font-dir}/#{$font-id}-#{$subset}-#{$w}-#{$s}.woff') format('woff');
        font-display: $font-display;
        unicode-range: #{map.get($unicodeMap, $subset)};
      }
      // @include fontFaceCustom(
      //   $fontName: $font-family,
      //   $weight: $w,
      //   $style: $s,
      //   $display: swap,
      //   $woff2Path: '#{$fontDir}/#{$fontId}-#{$subset}-#{$w}-#{$s}.woff2',
      //   $woffPath: '#{$fontDir}/#{$fontId}-#{$subset}-#{$w}-#{$s}.woff',
      //   $unicodeRange: true,
      //   $unicodeRangeValues: map-get($unicodeMap, $subset)
      // );
    }
  }


  // ==================================
  // VARIABLE FONT
  // ==================================
  // file name sample: #{$font-id}-latin-variable-wghtOnly-italic.woff2

  @each $s in $styles {
    $font-path: '#{$font-dir}/#{$font-id}-#{$subset}-variable-#{$variable-type}-#{$s}.woff2';
    @font-face {
      font-family: '#{$variable-font-family}';
      font-style: $s;
      font-weight: $variable-weights;
      src: url($font-path) format('woff2 supports variations'),
        url($font-path) format('woff2-variations');
      font-display: $font-display;

      @if $variable-type == 'full' {
        font-stretch: $stretch;
      }
      unicode-range: #{map.get($unicodeMap, $subset)};
    }
  }

}
