{% set pagID = 'contenuti-elenco' %}
{% set js_files = [asset("/assets/js/backoffice/dist/#{pagID}-min.js") ~ '?v=' ~ glob_vars.vers.backoffice] %}
{% set fluid_container = false %}
{% extends 'backoffice/_backoffice-tpl.html.twig' %}

{% block title %}Contenuti &amp; impostazioni{% endblock %}
{% block head %}{% endblock head %}
{% block body_end %}{% endblock body_end %}

{##}

{% block body %}
  <h1>{{- block('title') -}}</h1>

  {% include 'backoffice/contenuti/contenuti-elenco.incl.html.twig' with {
    azzera_filtri_btn_class: 'btn btn-outline-secondary'
  } %}

{% endblock body %}
