$multiselect-hover-bg: $gray-200 !default;
$multiselect-hover-color: $text-color !default;
$multiselect-label-padding: .3em 1em !default;

.multiselect_outer_wrapper {
  display: block;
  position: relative;
}

.multiselect.dropdown-toggle { // .btn
  width:100%;
  max-width: 100%;
  padding: .4em 1.5rem .4em 1em;
  text-align: left;
  position: relative;

/*
  &:hover, &:active, &:focus {
    background-color: $multiselect-hover-bg;
    color: $multiselect-hover-color!important;
    box-shadow:none;
  }
*/

  &::after {
    position:absolute;
    right: $dropdown-padding-y;
    top:50%;
    transform: translateY(-50%);
  }

  .multiselect-selected-text {
    width: 100%; //calc(100% - 10px);
    max-width: 100%; //calc(100% - 10px);
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1;
  }

}

.multiselect_outer_wrapper.dropdown.show {
  .multiselect.dropdown-toggle {
    background-color: $multiselect-hover-bg;
    color: $multiselect-hover-color;
    box-shadow: none;
  }
}

.multiselect-container { // ul
  .input-group {
    width:auto;  // fix larghezza menu ricerca
  }

  > li {

    > a {
      text-decoration: none;
      color: $text-color;


      &, label, input {
        cursor: pointer;
      }

      > label {
        padding: $multiselect-label-padding;

        input {
          margin-right:.4em;
        }
      }
    }

    &.multiselect-group {
      > label {
        padding: $multiselect-label-padding;
        font-weight: bold;
      }
    }
  }
}

