{#

  message labels:
  - success
  - notice
  - error
  - warning

  la classe `alert-flash` viene utilizzata per aggiungere eventuali comportamenti (es. auto fade-out)

#}

{% for label, messages in app.flashes %}
  {% for message in messages %}
    <div class="alert alert-{{ label == 'error' ? 'danger' : (label == 'notice' ? 'info' : label)}} alert-icon alert-flash">
      {{ message|raw }}
    </div>
  {% endfor %}
{% endfor %}
