$mAlert-color-success: green;
$mAlert-color-error:   red;
$mAlert-color-info:    DodgerBlue;
$mAlert-color-warning: DarkOrange;
$mAlert-color-confirm: DarkOrange;
$mAlert-button-font-weight: 400;

@import '../mAlert';
