/*
  <div id="lt-wrapper">
    <div class="lt-inner-wrapper">
      <div class="lt-content">
        <div role="button" class="lt-hide-show">Nascondi</div>
      </div>
      <div class="lt-brkpt">&#x2732;</div>
    </div>
  </div>
*/
/* stylelint-disable selector-max-id */
#lt-wrapper {
  position: fixed;
  top: 4px;
  left: 0;
  z-index: 9999;
  font-family: sans-serif;
  font-size: small;
  color: $lt-color;
  background: transparent;
  transition: opacity .3s linear;

  .lt-inner-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .lt-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    max-width: 14rem;
    overflow: hidden;
    background: $lt-bg;
    border: 1px solid $lt-color;
    border-bottom-right-radius: 8px;

    > div {
      width: 100%;
      padding: 6px;

      &:not(:last-child) {
        border-bottom: 2px solid $lt-color;
      }
    }
  }

  .lt-content, .lt-brkpt {
    border-color: $lt-color;
    border-style: solid solid solid none;
    border-width: 2px;
  }

  .lt-content > div,
  .lt-brkpt {
    flex: 0 1 auto;
  }

  .lt-brkpt {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5em;
    padding: 1px 6px 1px 3px;
    font-size: small;

    font-weight: bold;
    color: $lt-color;
    cursor: pointer;
    background: $lt-bg;
    border-radius: 0 1em 1em 0;

    &:hover {
      color: $lt-bg;
      background: $lt-color;
    }
  }

  dl {
    margin: 0;
    dt {
      font-weight: bold;
      border: none;
    }
    dd {
      padding-left: 1rem;
      &:not(:last-child) {
        padding-bottom: .2rem;
        margin-bottom: .4rem;
        border-bottom: 1px dotted $lt-color;
      }
    }
  }


  &.lt-collapsed .lt-content {
    display: none;
  }

  &.lt-hidden {
    opacity: 0;

    &:hover {
      opacity: .8;
    }
  }
  .heading {
    font-size: 110%;
    font-weight: bold;
  }
  label {
    color:$lt-color;
  }
  button {
    padding: 2px 6px;
    margin-right: 6px;
    color: $lt-color;
    cursor: pointer;
    background: $lt-bg;
    border: 1px solid $lt-color;
    border-radius: 3px;

    &:hover {
      color: $lt-bg;
      background: $lt-color;
    }
  }
  input[type='checkbox'] {
    margin-right: 6px;
  }

  @media print {
    display: none;
  }
} // end #lt-wrapper
/* stylelint-enable selector-max-id */
