/*
http://tobiasahlin.com/spinkit/

codekit import:
@import 'componenti/spinners/_rettangoli';

<div class="spinner_rettangoli">
	<div class="rect1"></div>
	<div class="rect2"></div>
	<div class="rect3"></div>
	<div class="rect4"></div>
	<div class="rect5"></div>
</div>
*/
.spinner_rettangoli {
	width: 30rem;
	height: 20rem;
	display: block;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	text-align: center;

	& > div {
		background-color: #fff;
		height: 100%;
		width: 2rem;
		margin:0 .5rem;
		display: inline-block;
		animation: rettangoli_stretchdelay 1.1s infinite ease-in-out;
	}

	&.small {
		width: 10rem;
		height: 8rem;

		& > div {
			width: 1rem;
			margin:0 .25rem;
		}
	}


	& .rect2 {
		animation-delay: -1.0s;
	}

	& .rect3 {
		animation-delay: -0.9s;
	}

	& .rect4 {
		animation-delay: -0.8s;
	}

	& .rect5 {
		animation-delay: -0.7s;
	}
}


@keyframes rettangoli_stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
	}
	20% {
		transform: scaleY(1.0);
	}
}
