@use 'sass:map';
@use '../scss-utilities/m-utilities-variables' as mVariables;

$snackbar-std-background: #333 !default;
$snackbar-std-color: #fff !default;
$snackbar-error-background: #c00 !default; // false per non generare questo stato
$snackbar-error-color: #fff !default;
$snackbar-warning-background: #f90 !default; // false per non generare questo stato
$snackbar-warning-color: #fff !default;
$snackbar-success-background: #05930a !default; // false per non generare questo stato
$snackbar-success-color: #fff !default;

$snackbar-display: inline-flex !default;
$snackbar-position: 'bottomLeft' !default; // bottomLeft bottomRight


.snackbars-container {
  position: sticky;
  z-index: map.get(mVariables.$m-utilities-z-index, snackbars);

  @if $snackbar-position == 'bottomLeft'{
    bottom: 0;
    left: 0;
  } @else if $snackbar-position == 'bottomRight'{
    bottom: 0;
    left: 100%;
    // } @else if $snackbar-position == 'topLeft'{
    //   top: 0;
    //   left: 0;
    // } @else if $snackbar-position == 'topRight'{
    //   top: 0;
    //   left: 100%;
  }

  display: $snackbar-display;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-end;
  gap: 5px;
  max-width: 100%;

  padding: 1rem;
}
.snackbar {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: .5rem 1rem;
  gap: .5rem;
  font-size: .8rem;
  color: $snackbar-std-color;
  background: $snackbar-std-background;
  border-radius: $border-radius;
  box-shadow: 0 0 8px rgba(#000, .6);
  animation: enter-snackbar .2s linear;

  @keyframes enter-snackbar {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @if $snackbar-error-background {
    &-error {
      color: $snackbar-error-color;
      background-color: $snackbar-error-background;
    }
  }
  @if $snackbar-warning-background {
    &-warning {
      color: $snackbar-warning-color;
      background-color: $snackbar-warning-background;
    }
  }
  @if $snackbar-success-background {
    &-success {
      color: $snackbar-success-color;
      background-color: $snackbar-success-background;
    }
  }
}
