.alert {
	h2 {
		margin-top: 0;
		//@extend .h3;
		position: relative;
		top:-5px;
	}

	> p {
  	&:last-child {
    	margin-bottom: 0;
  	}
	}

  .alert-link, a {
  	&:not(.btn) {
    	font-weight: $body-font-weight-semibold;
    	text-decoration: underline;
    }
  }
}

.alert-link, a {
  @each $theme in danger, warning, info, success {
    @if map-has-key($theme-colors, $theme) {
      .alert-#{$theme} & {
        color: darken(theme-color($theme), 10);
      }
    }
  }
}

.alert-dismissible {
  padding-right:3rem;
}


.alert-icon {
	position: relative;
  padding-left: 4em;
  min-height: 3em;

	&::before {
		width: 2em;
		height: 2em;
		display: block;
		position: absolute;
		top: $alert-padding-y / 1.5;
		left: $alert-padding-x / 1.5;
  }

  @each $theme in danger, warning, info, success {
    @if map-has-key($theme-colors, $theme) and
      global-variable-exists('ui-icons') and
      map-has-key($ui-icons, $theme) {
        &.alert-#{$theme} {
          &::before {
            content: svg_uri(
              str-replace(map-get($ui-icons, $theme), '<svg', '<svg fill="#{theme-color($theme)}"')
            );
          }
        }
    }
  }
}

