// https://fontsource.org/docs/sass/mixins
// https://fontsource.org/docs/variable-fonts

@use '@massimo-cassandro/m-utilities/scss-mixins/fontsource-font-face-builder' as fface_builder;
@use '@fontsource/merriweather-sans/scss/mixins' as merriweather;
@use '@fontsource/playfair-display/scss/mixins' as playfair;

@use 'sass:map';
@use 'sass:list';

@include fface_builder.fontsource-font-face-builder (
  $font-family:          $font-face-family,
  $variable-font-family: $variable-font-family,
  $generic-font-family:  $generic-font-face-family,
  $font-id:              merriweather.$fontId,
  $font-dir:             '/fonts', // dir nella root public,
  $font-display:         swap,
  $non-variable-weights: map.values($font-weights),
  $variable-weights:     list.join(map.values($font-weights), (), space),
  $styles:               $font-face-styles,
  $subset:               'latin',
  $variable-type:        'wghtOnly',
  $unicodeMap:           merriweather.$unicodeMap,
  $body-font-face:       true,
  $body-regular-weight:  map.get($font-weights, regular),
);

@include fface_builder.fontsource-font-face-builder (
  $font-family:          $headings-font-face-family,
  $variable-font-family: $headings-variable-font-family,
  $generic-font-family:  $headings-generic-font-face-family,
  $font-id:              playfair.$fontId,
  $font-dir:             '/fonts', // dir nella root public,
  $font-display:         swap,
  $non-variable-weights: map.values($headings-font-weights),
  $variable-weights:     list.join(map.values($headings-font-weights), (), space),
  $styles:               $headings-font-face-styles,
  $subset:               'latin',
  $variable-type:        'wghtOnly',
  $unicodeMap:           playfair.$unicodeMap,
  $body-font-face:       false,
  $body-regular-weight:  null
);
